.education-place
  .next-button
    background: var(--accent-color)
    padding: 1em
    border-radius: 10px
    color: white
  background: whitesmoke
  width: fit-content
  text-align: center
  padding: 1em
  border-radius: 10px
  ul
    list-style-type: none
  .education-name
    font-size: 1.5em
    font-weight: bold
  .education-date
    font-weight: 100
