.App {
  text-align: center;
}
header, body, footer {
  font-family: 'Unbounded', cursive;
}
.center-container {
  width: 80%;
  margin: 0 auto;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: var(--accent-color)
}
:root {
  --accent-color: rgba(20, 125, 245, 0.7);
}
.high{
  color: var(--accent-color)
}
@media screen and (min-width: 2000px){
  .center-container {
    width: 60%;
  }
}
ul {
  list-style-type: none;
  padding: 0
}
.section-header {
  font-size: 3em;
}
@media screen and (max-width: 1000px){
  .center-container {
    width: 95%;
  }
}
.subheader-name{
  font-size: 1.5em;
  font-weight: bold;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
